<!DOCTYPE html>
<html lang="en">

<head>
  <title>Dashboard - NiceAdmin Bootstrap Template</title>
  <%- include('../../elements/head'); -%>
</head>

<body>
  <%- include('../../elements/header'); -%>
  <%- include('../../elements/sidebar'); -%>

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Job Categories</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="">Home</a></li>
          <li class="breadcrumb-item active">Create</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">

      <div class="row">
        <div class="col-lg-12">
          <% if ( typeof message !== 'undefined' && message !== null) { %>
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            <i class="bi bi-exclamation-octagon me-1"></i>
            <%- message -%>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          <% } %>
          <% if (typeof error !== 'undefined') { %>
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            <i class="bi bi-exclamation-octagon me-1"></i>
            <%- error -%>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          <% } %>
          <div class="card">
            <div class="card-body">
              <a type="button" href="/admin/job-category/create" class="btn btn-success mt-4">Create</a>
              <!-- Table with stripped rows -->
              <div class="table-responsive">
                <table class="table datatable">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Name</th>
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for (let i = 0; i < data.length; i++) { %>
                    <tr>
                      <th scope="row"><%- i+1 -%></th>
                      <td><%- data[i].name -%></td>
                      <td>
                        <a class="btn btn-link" data-bs-toggle="modal" data-bs-target="#edit">
                          <i class="bi bi-pencil-square"></i>
                        </a>
                        <button data-bs-toggle="modal" data-bs-target="#delete" class="btn btn-link" style="color: red;">
                          <i class="bi bi-trash"></i>
                        </button>
                        <!-- modal delete -->
                        <form action="/admin/job-category/<%- data[i].id %>" method="POST">
                          <div class="modal fade" id="delete" tabindex="-1">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title">Are you sure to delete this data ?</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                  <button type="submit" class="btn btn-primary">Yes</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </form>
                        <!-- modal edit -->
                        <form action="/admin/job-category/edit/<%- data[i].id %>" method="POST">
                          <div class="modal fade" id="edit" tabindex="-1">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h4>Edit Job Category</h4>
                                </div>
                                <div class="px-4 mb-4">
                                  <label for="inputText" class="col-form-label">Text</label>
                                  <input type="text" class="form-control" id="name" name="name" value="<%- data[i].name -%>">
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                  <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </form>
                      </td>
                    </tr>
                    <% } %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <%- include('../../elements/script'); -%>
</body>

</html>